body{
    font-family: sans-serif;
    max-width: 50em;
    border: 2px solid green;
    padding: 2em;
    margin: 2em auto;
}
.bucky{
    color: blue;
    text-align: center;
}
.stevie{
    color: blue;
    text-align: center;
}
.nat{
    color:blue;
}
.hulk{
    color: red;
    text-align: center;
}
.stucky{
    color: blue;
    text-align: center;
}
.fury{
    color: red;
    text-align: center;
}
.shield{
    color: blue;
    text-align: center;
}
.pinky{
    color: red;
    text-align: center;
}
.x-men{
    color: blue;
    text-align: center;
}
.loki{
    color: red;
    text-align: center;
}
.thor{
    color:navy;
    text-align: center;
}
.blue{
    color: red;
}
.baldur{
    color: black;
}
.skurge{
    color: green;
    text-align: center;
}
.bla{
    text-align: center;
}
.two0{
    text-align: center;
}
.two3{
    text-align: center
}
.james{
    color: darkred;
    text-align: center;
}
a:link{
    color: navy;
}
a:visited{
    color: navy
}
a:hover,
a:active{
    color:darkgreen;
}
.tony{
    color: darkred;
}
.spoopy{
    color: orangered;
}
.spoopytwo{
    color: darkred;
}
.spoopythree{
    color: darkred;
}
.spoopyfour{
    color: orangered;
}

