*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(crimson,black);
    color: whitesmoke;
}
.topnav{
    list-style-type: none;
    font-family: 'Luckiest Guy', cursive;
    text-align: right;
}
/*grid-area*/
header{
    display: grid;
    grid-area: header;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}
.topnav{
    grid-area: topnav;
}
.footer{
    grid-area: footer;
}
/*content*/
.art{
    grid-area: artical;
    text-align: center;
    font-style: oblique;
    font-kerning: initial;
    font-synthesis: style;
}
/*grid-template-area*/
body{
    display: grid;
    grid-gap: 0em;
    grid-template-areas: 
        "header"
        "topnav"
        "artical"
        "footer";
    max-width: 70em;
}
.low{
    list-style-type: lower-greek;
    display: grid;
    grid-area: footer;
    grid-template-columns: 15fr 4fr
}
.germen{
    display: grid;
    grid-area: footer;
    grid-template-columns: 15fr 4fr;
}
.col-1{
    float: right;
    width: 40%;
}